.bg-img {
    /*background: url('https://images.pexels.com/photos/4529130/pexels-photo-4529130.jpeg') center center no-repeat;*/
    background-size: cover;

    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #11998e);
    opacity: .6;
    min-width: 100%;
    min-height: 100%;
}

.panel-body {
    background-position: initial initial;
    background-repeat: initial initial;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #11998e);
    z-index: 10;
}