.bg-img {
    /*background: url('https://images.pexels.com/photos/4529130/pexels-photo-4529130.jpeg') center center no-repeat;*/
    background-size: cover;
}

.bg-img::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
}